@model dynamic
@{
    ViewBag.Title = "Mockups";
}

<h1>Mockups</h1>

<ul>
    <li><a asp-action="SinglePlayer">Single Player</a></li>
    <li><a asp-action="SetUpCivilization">Set Up (Civilization)</a></li>
    <li><a asp-action="SetUpOpponents">Set Up (Opponents)</a></li>
    <li><a asp-action="SetUpBasicSettings">Set Up (Basic Settings)</a></li>
    <li><a asp-action="SetUpAdvancedSettings">Set Up (Advanced Settings)</a></li>
    <li><a asp-action="LoadGame">Load Game</a></li>
    <li><a asp-action="LoadGameSpecific">Load Game (Specific)</a></li>
</ul>