@model dynamic
@{
    ViewBag.Title = "Load Game";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Load Game</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-4">
        <ul class="nav nav-pills nav-stacked game-nav">
            <li>
                <a class="btn btn-default" href="#">Game 3</a>
            </li>
            <li>
                <a class="btn btn-default" href="#">Game 2</a>
            </li>
            <li>
                <a class="btn btn-default" href="#">Game 1</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-8">
    </div>
</div>