@model dynamic
@{
    ViewBag.Title = "Game 1";
}

<div class="row">
    <div class="col-xs-12">
        <h1>Game 1</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-3 col-sm-4">
        <ul class="nav nav-pills nav-stacked game-nav">
            <li>
                <a class="btn btn-default" href="#">Game 3</a>
            </li>
            <li>
                <a class="btn btn-default" href="#">Game 2</a>
            </li>
            <li class="active">
                <a class="btn btn-default" href="#">Game 1</a>
            </li>
        </ul>
    </div>
    <div class="col-md-9 col-sm-8 form-horizontal">
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Name</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">Player</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Civilization</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">American - Washington</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Opponents</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">
                    <span>Chinese - Wu Zetian</span><br />
                    <span>English - Elizabeth</span><br />
                    <span>French - Napoleon</span><br />
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Map type</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">Pangaea</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Map size</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">Small (6 civilizations)</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Difficulty</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">Warlord - Easy</p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Victory types</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">
                    <span>Science</span><br />
                    <span>Domination</span><br />
                    <span>Cultural</span><br />
                    <span>Diplomatic</span><br />
                </p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3">
                <label class="control-label">Advanced game options</label>
            </div>
            <div class="col-md-9">
                <p class="form-control-static">
                    <span>Max Turns</span><br />
                    <span>Complete Kills</span><br />
                </p>
            </div>
        </div>
    </div>
</div>