@model dynamic
@{
    ViewData["Title"] = "Cat 1 by user@example.com";
}

<h1>Cat 1<small>by <a href="#">user@example.com</a></small></h1>
<p>
    <a href="#" class="btn btn-default">Back</a>
</p>

<div class="row">
    <div class="col-md-9">
        <div class="thumbnail">
            <img src="https://lorempixel.com/1280/960/cats/1" alt="Cat 1" title="Cat 1" />
        </div>
        <div class="row">
            <div class="col-md-9">
                <p>Some free cat(s) from lorem pixel</p>
                <p>
                    <a href="#">#cat</a>
                    <a href="#">#free</a>
                    <a href="#">#lorempixel</a>
                </p>
            </div>
            <div class="col-md-3 text-right">
                <strong>346 likes</strong>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#">user@example.com</a> commented on 5/16/2018 12:23</div>
            <div class="panel-body">Etiam tempus leo eget urna congue, et dapibus nunc malesuada. In non rhoncus libero. Sed id elit sit amet justo iaculis fringilla quis ac odio.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#">user@example.com</a> commented on 5/16/2018 12:23</div>
            <div class="panel-body">Etiam tempus leo eget urna congue, et dapibus nunc malesuada. In non rhoncus libero. Sed id elit sit amet justo iaculis fringilla quis ac odio.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#">user@example.com</a> commented on 5/16/2018 12:23</div>
            <div class="panel-body">Etiam tempus leo eget urna congue, et dapibus nunc malesuada. In non rhoncus libero. Sed id elit sit amet justo iaculis fringilla quis ac odio.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#">user@example.com</a> commented on 5/16/2018 12:23</div>
            <div class="panel-body">Etiam tempus leo eget urna congue, et dapibus nunc malesuada. In non rhoncus libero. Sed id elit sit amet justo iaculis fringilla quis ac odio.</div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading"><a href="#">user@example.com</a> commented on 5/16/2018 12:23</div>
            <div class="panel-body">Etiam tempus leo eget urna congue, et dapibus nunc malesuada. In non rhoncus libero. Sed id elit sit amet justo iaculis fringilla quis ac odio.</div>
        </div>
    </div>
</div>