@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Civilization">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="game-options">
                <button asp-action="Index" type="submit" class="btn btn-default">Single Player</button>
                <button class="btn" disabled="disabled">Multiplayer</button>
                <button class="btn" disabled="disabled">Mods</button>
                <button class="btn" disabled="disabled">Options</button>
                <button class="btn" disabled="disabled">Other</button>
                <button class="btn" disabled="disabled">DLC</button>
            </div>
        </div>
    </div>
</form>