@model dynamic
@{
    ViewBag.Title = "Single Player";
}

<form asp-controller="Civilization">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 class="game-title">Single Player</h1>
            <div class="game-options">
                <button asp-action="SinglePlayer" type="submit" name="Action" value="PlayNow" class="btn btn-default">Play now</button>
                <button asp-action="SinglePlayer" type="submit" name="Action" value="SetUpGame" class="btn btn-default">Set up game</button>
                <button asp-action="SinglePlayer" type="submit" name="Action" value="LoadGame" class="btn btn-default">Load game</button>
                <button class="btn" disabled="disabled">Scenarios</button>
                <button class="btn" disabled="disabled">Tutorial</button>
            </div>
        </div>
    </div>
</form>

